.content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-row-gap: 20px;

  @media (min-width: $m-screen) {
    grid-gap: 20px;
    grid-row-gap: 30px;
  }
}

.content__header {
  grid-column: span 8;
}

.content__form-title {
  margin: 0;
  font-size: inherit;
}

.content__name-repo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 20px;
  border: 1px solid $green;
  border-radius: 5px;
  outline: none;

  &:focus,
  &:hover {
    border-color: $l-green;
  }
}

.content__branches {
  grid-column: span 3;
}

.content__commits {
  grid-column: span 5;
}

.content__previews {
  grid-column: span 8;
}
