// Основные цвета от светлого к темному

$l-green: #55bb00;
$green: #339900;

$border: #aaaaaa;


// Основные размеры экранов
$s-screen: 320px;
$m-screen: 768px;
$l-screen: 980px;

// Основные размеры полей
$s-field: 15px;
$m-field: 25px;
$l-field: 50px;

// Разрешение ретины
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
