extends layout

block content
  header.header
    h1
      a(href="/")= title
  main.content
    include header
    section.branches.content__branches
      h2.branches__title
        |Branch:&nbsp;
        = branchCurrent
      .branches__wrapper
        ul.branches__list.branches__list--one
          li.branches__name.branches__name--tree
            a(href= branchCurrent + "/tree") tree files
          li.branches__name.branches__name--commits
            a(href= branchCurrent + "/commits") commits
