block header
  section.content__header
    form.content__form(action="#" method="get")
      h2.content__form-title Your local repositories
      p.content__name-repo=url
      //button.button.content__select-repo(type="submit") Select other repositories
