extends layout

block content
  header.header
    h1
      a= title
  main.content
    include header
    section.branches.content__branches
      h2.branches__title Branches
      .branches__wrapper
        ul.branches__list.branches__list--one
          each branch in branches
            li.branches__name
              a(href= branch)= branch
